/.vs
.vs
/EcommerceApp.Api/bin
/EcommerceApp.Api/obj
/EcommerceApp.Shared/bin
/EcommerceApp.Shared/obj
/EcommerceApp.Web/bin
/EcommerceApp.Web/obj

EcommerceApp.Api/bin
EcommerceApp.Api/obj
EcommerceApp.Shared/bin
EcommerceApp.Shared/obj
EcommerceApp.Web/bin
EcommerceApp.Web/obj

